body {
  background-color: rgb(140, 140, 229);
}

#texth3 {
  margin-top: 20px;
  color: aliceblue;
}

#text {
  color: aliceblue;
}

#department {
  color: aliceblue;
}

p {
  color: aliceblue;
}