.formlogin {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 65px;
}

body {
    background-color: antiquewhite;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}