{% extends 'base.html'%}
{% load static %}
{% block content %}

<body>
    <div class="container-fluid back">
        <div>
            <H3 class="about1" id="texth3">Why University Of Technology</H3>
            <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aperiam dignissimos,
                non vel minima, explicabo, voluptates amet maiores corporis dolores culpa provident
                quidem ipsum. Doloribus nulla nisi nihil earum aperiam dolores reprehenderit amet quia
                consequuntur explicabo ab molestias voluptatum, animi facere. Quasi illum at temporibus aut neque
                cupiditate numquam qui sit suscipit, magnam, ipsa, eaque veritatis perferendis fuga delectus ab aliquam!
                Quae alias earum quos consequatur cupiditate saepe quisquam unde ea, dolor eaque quaerat ducimus, quia
                ratione totam possimus dolores accusantium obcaecati impedit id, officiis ex. Molestias, impedit.
                Quas ut repudiandae sint dolor sunt hic officia soluta cum numquam corrupti!</p>
        </div>
        <div>
            <h3 id="department">Department</h3>
            <p id="departmenttext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quos repudiandae, laboriosam quia maxime
                quas. At non, illum aspernatur doloremque itaque rerum obcaecati, inventore facere ipsam, fugit ex
                veritatis. Inventore, quod error, quas molestiae sunt cumque consequuntur aliquam quos, temporibus
                officiis aut esse dolorem quam numquam maxime recusandae tempore! Ad placeat asperiores et at
                exercitationem recusandae, a consequuntur enim animi dolores iure vel est doloribus, in accusantium
                repellat? Numquam tempora assumenda qui, eligendi accusamus ratione possimus. Ipsum itaque et animi
                voluptates aliquam mollitia accusantium, omnis temporibus, perferendis repudiandae voluptatibus dolores
                necessitatibus cumque. Quaerat corrupti quo corporis. Sapiente veniam magni, pariatur reprehenderit
                aspernatur assumenda cupiditate, cumque ratione velit atque vel qui laborum neque, repudiandae enim
                minus sed eveniet dolore accusamus quidem quis! Ut aperiam fugiat maxime quibusdam possimus consequatur
                fugit. Quasi nobis voluptatibus odit eum repudiandae ratione quae! Fuga minima ipsam adipisci aperiam
                culpa. Eius deserunt ratione consectetur voluptate quod repudiandae?</p>
        </div>
    </div>
</body>
<link rel="stylesheet" href="{% static 'profile1/css/about.css' %}">
{% endblock %}