{% load static %}

<head>
    <link rel="stylesheet" href="{%static 'profile1/css/footer1.css'%}">
</head>
<footer class="bg-dark text-light py-3 mainf">
    <div class="row">
        <div class="col-md-6">
            <p>&copy; 2023 University Of Technology. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-end">
            <!-- Add your social media links here -->
            <a href="#" class="text-light mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-light mx-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-light mx-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-light mx-2"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>